.brand{
    max-width: 1102px;
    height: 239px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand__box{
    width: 354px;
    height: 239px;
    border: 1px solid none;
    background-color: #c1c1c144;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    cursor: pointer;
    transition:0.5s;
}
.brand__box--container{
    width: 284px;
    height: 150px;
    display: flex;
    align-items: center;
}
.brand__boc--container-title{
    margin-left: 30px;
}
.brand__boc--container-title h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #1E1D1D;
}
.brand__boc--container-title p{
    width: 153px;
    height: 76px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #8B8E99;
}
.brand__box:hover {
    opacity: 0.3;
}
@media (max-width:900px){
    .brand{
        max-width: 1102px;
        height: 239px;
        margin: 0 auto;
        display: flex;
        align-items: center;
       flex-direction: column;
    }
}




